@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
    background-color: #fdfdfd;
    overflow-x: hidden;
}

/*-----------------------------------------Headings*/

h2 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
}

/*-----------------------------------------NavBar*/

/*--Code taken from https://www.bootply.com/114896# (See README file)--*/

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
}

.navbar-nav>li {
    float: none;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

/*--End of https://www.bootply.com/114896# code--*/

.navbar {
    background-color: transparent !important;
    border-color: transparent !important;
    margin-top: 20px;
    margin-right: 20px;
}

.navbar li {
    text-align: right;
    text-transform: uppercase;
}

.navbar a {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    letter-spacing: 3px;
    color: #313639 !important;
}

.navbar button {
    border-radius: 10%;
}

/*-----------------------------------------Landing View*/

.callout-container {
    background: url('../images/landing-view.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-weight: bold;
    margin-bottom: 25px;
}

.jumbotron .fitness-journey {
    margin: 25px 0;
    color: #666;
    font-weight: 400;
}

.jumbotron mark {
    background-color: #dcdcdc;
}

/*-----------------------------------------About Section*/

.about-me-container {
    background-color: rgba(211, 211, 211, 0.4);
    padding-bottom: 70px;
}

.about-row {
    font-size: 100%;
    line-height: 2;
}

.about-row h2 {
    margin-top: 10%;
    margin-left: 20px;
}

.about-row .about-me-p {
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
}

.about-row img {
    height: 85%;
    width: 85%;
    margin-left: 40px;
}

/*-----------------------------------------Client Section*/

.client-container {
    background: url('../images/client-bg-downsized.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
}

.client-row {
    /*font-size: 100%;*/
    line-height: 2;
    margin-top: 3%;
}

.client-name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.client-icon {
    /*margin-left: -15px;
    padding-right: 5px;*/
    font-size: 150%;
    font-weight: 600;
    color: #269ccc;
}

.client-icon,
.client-name {
    display: inline-block;
}


/*-----------------------------------------Training Section*/

.training-container {
    background-color: rgba(211, 211, 211, 0.5);
    padding: 0;
}

.training-row {
    padding-bottom: 30px;
}

.training-row h2 {
    margin-top: 10%;
    margin-left: 20px;
}

.list-section {
    list-style-type: none;
    margin-top: 40px;
    line-height: 3.5;
    margin-left: -15px;
}

.list-section h4 {
    display: inline;
    font-size: 1em;
    position: relative;
    bottom: 3px;
    font-weight: 400;
}

.list-icon {
    font-size: 2em;
    color: #269ccc;
    margin-right: 5px;
}

.image-section {
    padding: 0;
}

.image-section img {
    width: 100%;
    opacity: 0.9;
}


/*-----------------------------------------Footer*/

.footer-container {
    padding-left: 0;
    padding-right: 0;
}

.footer-container h3 {
    text-transform: uppercase;
    margin-top: 10%;
    font-weight: 400;
    letter-spacing: 5px;
}

.stay-connected {
    background-color: #fdfdfd;
    padding-bottom: 3%;
}

.social-icon {
    font-size: 2em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 6%;
    color: #269ccc;
}

.download-guide {
    background-color: rgba(211, 211, 211, 0.5);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5%;
}

.download-guide p {
    padding: 20px 20px;
}

.download-icon {
    font-size: 2em;
    color: #269ccc;
}


/*-----------------------------------------Block Dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #269ccc;
    margin-top: 20px;
}


/*-----------------------------------------Buttons*/

.btn--contact {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    background-color: #269ccc;
    color: #fafafa;
    margin-top: 18px;
}

.training-button {
    position: relative;
    left: 30px;
    width: 50%;
}

.btn--contact:hover,
.btn--contact:active,
.btn--contact:focus,
.btn--contact:active:focus {
    color: black;
}

/*-----------------------------------------Media Queries*/

@media (min-width: 768px) {
    .navbar a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        letter-spacing: 5px;
    }

    .client-quote {
        margin-left: 15px;
    }

    .list-section h4 {
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    .navbar a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        letter-spacing: 5px;
    }

    .about-me-container {
        background: url('../images/about-background.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100vw;
        padding-bottom: 70px;
    }

    .client-container {
        height: 115%;
    }

    .list-section {
        margin-left: 0;
    }
}

@media (min-width: 1025px) {
    .about-me-container {
        height: 85vh;
    }
}
