@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
    background-color: #fdfdfd;
}

/*-----------------------------------------NavBar*/

/*--Code taken from https://www.bootply.com/114896# (See README file)--*/

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
}

.navbar-nav>li {
    float: none;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

/*--End of https://www.bootply.com/114896# code--*/

.navbar {
    background-color: transparent !important;
    border-color: transparent !important;
    margin-top: 20px;
    margin-right: 20px;

}

.navbar li {
    text-align: right;
    text-transform: uppercase;
}

.navbar a {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    letter-spacing: 3px;
    color: #313639 !important;
}

.navbar button {
    border-radius: 10%;
}

/*-----------------------------------------Landing View*/

.callout-container {
    background: url('../images/landing-view.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-weight: bold;
    margin-bottom: 25px;
}

.jumbotron .fitness-journey {
    margin: 25px 0;
    color: #666;
    font-weight: 400;
}

.jumbotron mark {
    background-color: #dcdcdc;
}

/*-----------------------------------------About Section*/
.about-me {
    background-color: rgba(211,211,211, 0.4)
}

.about-me img {
    height: 85%;
    width: 85%;
    margin-left: 40px;
}

/*-----------------------------------------Block Dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #269ccc;
    margin-top: 20px;
}


/*-----------------------------------------Buttons*/

.btn--contact {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    background-color: #269ccc;
    color: #fafafa;
    margin-top: 18px;
}

.btn--contact:hover,
.btn--contact:active,
.btn--contact:focus,
.btn--contact:active:focus {
    color: black;
}

/*-----------------------------------------Media Queries*/

@media (min-width: 992px) {
    .navbar a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        letter-spacing: 5px;
    }
}

@media (min-width: 768px) {
    .navbar a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        letter-spacing: 5px;
    }
}

